.aside {
  background: #fafafa;
}

.menuOption {
  list-style: none;
  border-bottom: solid 1px #c4c4c4;
}

.menuOption a {
  color: #353535;
  text-decoration: none;
  padding: 1rem 1.5rem;
  display: block;
}

.menuOptionActive {
  border-bottom-width: 2px;
  border-bottom-color: #000
}

.menuOptionActive a {
  font-weight: 600;
}

.hambIcon svg {
  font-size: 2.5rem;
  cursor: pointer;
  position: fixed;
  top: 0;
  left: 0;
}
